<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>

    <title>Рассылка</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
            integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
            integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
            crossorigin="anonymous"></script>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

</head>
<body>

<div th:replace="~{navigation :: navi(Mailing)}"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span
                            th:text="${mailing.getId() == 0} ? 'Добавление рассылки' : 'Изменение рассылки'"></span>
                    </h4>
                </header>
                <article class="card-body">
                    <form th:action="@{/mailing/edit}" th:object="${mailing}" method="post"
                          enctype="multipart/form-data">
                        <input th:field="*{id}" type="hidden" class="form-control">
                        <div class="form-row">
                           <div class="mb-3">
                                <label>Сокращенное наименование Компании</label>
                                <input th:field="*{company.shortName}" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label>Полное наименование Компании</label>
                                <input th:field="*{company.fullName}" type="text" class="form-control" placeholder="">
                            </div>
                            <!--
                            <div class="mb-3">
                                <label>Тема сообщения</label>
                                <input th:field="*{subject}" type="text" class="form-control" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label>Тело сообщения</label>
                                <textarea th:field="*{body}" rows="3" class="form-control"></textarea>
                            </div>

                            <div class="mb-3">
                                <label>Вложение</label>
                                <input th:field="*{fileName}" class="form-control form-control-sm" type="file">
                            </div>
                            -->
                        </div>

                        <!-- текущий список контактов-->
                        <div class="form-row">
                            <div class="input-group">
                                <div class="form-group col-md-12">
                                    <label>Текущие контакты</label>
                                    <table>
                                        <body>
                                        <tr th:each="currContact : ${mailing.contactTo}">
                                            <td>
                                                <input type="text" th:field="*{contactTo}"
                                                th:value="${currContact.id}">
                                            </td>
                                            <td th:text="${currContact.email}">C1@gmail.com</td>
                                            <td th:text="${currContact.lastName}">C1</td>
                                            <td>
                                                <a type="submit" class="btn btn-danger">
                                                    <i class="far fa-trash-alt">X</i>
                                                </a>
                                            </td>
                                        </tr>
                                        <!--
                                          <tr th:each="c : *{contactCopy}">
                                              <td th:text="${c.email}">C1@gmail.com</td>
                                              <td th:text="${c.lastName}">C1</td>
                                              <td>
                                                  <a type="submit" class="btn btn-danger">
                                                      <i class="far fa-trash-alt">X</i>
                                                  </a>
                                              </td>
                                          </tr>
                                          <tr th:each="c : *{contactBcc}">
                                              <td th:text="${c.email}">C1@gmail.com</td>
                                              <td th:text="${c.lastName}">C1</td>
                                              <td>
                                                  <a type="submit" class="btn btn-danger">
                                                      <i class="far fa-trash-alt">X</i>
                                                  </a>
                                              </td>
                                          </tr>

                                          -->

                                        </body>

                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit"
                                >Сохранить сообщение
                                </button>
                            </div>
                        </div>

                        <!-- добавление контакта-->
                        <div class="form-row">
                            <div class="input-group">
                                <div class="form-group col-md-12">
                                    <p>
                                        <button class="btn btn-success" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseAddFrom" aria-expanded="false"
                                                aria-controls="collapseAddFrom">
                                            Добавить контакт
                                        </button>
                                    </p>
                                    <div class="collapse" id="collapseAddFrom">
                                        <table>
                                            <tbody>
                                            <td>
                                                <select class="form-select form-select-sm" id="newContactId"
                                                        name="newContact" >
                                                    <option th:each="i : ${contacts}"
                                                            th:value="${i.id}"
                                                            th:text="${i.email}"
                                                    ></option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-select form-select-sm" id="newContactType"
                                                        name="newContactType">
                                                    <option th:each="i : ${address_types}"
                                                            th:value="${i}"
                                                            th:text="${i}"
                                                    ></option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary btn-block"
                                                        th:href="@{/mailing/edit/add_contact}" th:method="GET">
                                                    +
                                                </button>
                                            </td>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </article>

            </div>
        </div>
    </div>

</div>

</body>
</html>