<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Карточка рассылки</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}"/>
</head>
<body>

<div th:replace="~{navigation :: navi(Mailing)}"/>

<div class="container content">
    <h3 class="heading_top" th:text="${mailing.getId() == 0} ? 'Добавление рассылки' : 'Изменение рассылки'">
        Изменение рассылки
    </h3>
    <div class="mailing-card__box">
        <article class="mailing-card">
            <form th:action="@{/mailing/edit}" th:object="${mailing}" th:method="put" enctype="multipart/form-data">
                <input th:field="*{id}" type="hidden">
                <div class="form-row">
                    <div class="mailing-field">
                        <label class="field_header">Сокращенное наименование Компании</label>
                        <input th:field="*{company.shortName}" type="text" class="form-control heading-mini"
                               placeholder="">
                    </div>

                    <div class="mailing-field">
                        <label class="field_header">Полное наименование Компании</label>
                        <input th:field="*{company.fullName}" type="text" class="form-control heading-mini"
                               placeholder="">
                    </div>

                    <div>
                        <table class="contact-checklist-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Email</th>
                                <th>TO</th>
                                <th>COPY</th>
                                <th>BCC</th>
                            </tr>
                            </thead>

                            <body>
                            <tr th:each="contact : ${contacts}">
                                <td th:text="${contact.id}">2</td>
                                <td th:text="${contact.lastName}">Abricosov</td>
                                <td th:text="${contact.email}">abricosov@mail.com</td>
                                <td class="cell_center">
                                    <input class="form-check-input" type="checkbox" th:field="*{contactTo}"
                                           th:value="${contact.id}"
                                           th:selected="${mailing.contactTo?.contains(contact)}">
                                </td>
                                <td class="cell_center">
                                    <input class="form-check-input" type="checkbox" th:field="*{contactCopy}"
                                           th:value="${contact.id}"
                                           th:selected="${mailing.contactCopy?.contains(contact)}">
                                </td>
                                <td class="cell_center">
                                    <input class="form-check-input" type="checkbox" th:field="*{contactBcc}"
                                           th:value="${contact.id}"
                                           th:selected="${mailing.contactBcc?.contains(contact)}">
                                </td>
                            </tr>
                            </body>
                        </table>
                    </div>

                </div>
                <br>
                <div>
                    <button class="mailing__button_save" type="submit">
                        Сохранить изменения
                    </button>
                </div>
            </form>
        </article>

    </div>

</div>

</body>
</html>