<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Главная</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}" />

<div class="container content">
    <h3 class="heading_top">Добро пожаловать в помощник для отправки сообщений</h3>
</div>

</body>
</html>