<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MailHelper</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}" />

<div class="container">
    <br>
    <h1>MailHelper</h1>
    <p>Добро пожаловать в помощник отправки сообщений!</p>

</div>
</body>
</html>