<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}"/>
    <title>Рассылка</title>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

</head>
<body>

<div class="message-result container">
    <h3 class="heading">Подготовленные сообщения к отправке</h3>
    <div class="message-item-box">
        <div class="message-item" th:each="mi : ${messageItemList}">
            <h4 class="heading-mini" th:text="${mi.companyName}">Name of the Company</h4>
            <ul class=contact__info>
                <li class="contact__email">
                    <span class="field_header">TO:</span>
                    <span class="text text_email" th:text="${mi.emailTo}">a@dddd.com</span>
                </li>
                <li class="contact__email">
                    <span class="field_header">COPY:</span>
                    <span class="text text_email" th:text="${mi.emailCopy}">a@dddd.com</span>
                </li>
                <li class="contact__email">
                    <span class="field_header">BCC:</span>
                    <span class="text text_email" th:text="${mi.emailBcc}">a@dddd.com</span>
                </li>
            </ul>
            <p class="text text_subject" th:text="${mi.subject}"> Subject</p>

            <p class="text" th:text="${mi.body}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti
                laudantium
                repellat, nesciunt.</p>

            <p class="message__link" href="#">Приложения</p>
            <ul class="contact__info" >
                <li class="text"  th:each="attachment : ${mi.getAttachmentList()}"  >
                    <a class="message__link" href="#" th:text="${attachment}" >Приложения</a>
                </li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>