<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Рассылка</title>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

</head>
<body>

<div class="what-we-do container">
    <h3 class="heading">What we do to help our client grow in digital era</h3>
    <div class="mycard-box">
        <div class="card">
            <img class="card__img" src="image/card-1.svg" alt="card 1">
            <h4 class="heading-mini">Make Your business To Be
                Better Famous In Internet</h4>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti
                laudantium
                repellat, nesciunt.</p>
            <a class="card__link" href="#">Learn more</a>
        </div>
        <div class="card">
            <img class="card__img" src="image/card-2.svg" alt="card 2">
            <h4 class="heading-mini">Bring Technology To Your
                Comfrotable Home</h4>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti
                laudantium
                repellat, nesciunt.</p>
            <a class="card__link" href="#">Learn more</a>
        </div>

    </div>
</div>

</body>
</html>