<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="main.css" />
    <title>Текущая рассылка</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/main.css}"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btn-authcheck").click(function(){
                $("#authWarningModal").fadeToggle();
            });
        });
    </script>

</head>
<body>

<div th:replace="~{navigation :: navi(MsgBuild)}"/>

<div class="content container">
    <div class="container top__message">
        <a th:href="@{/mailing}" class="heading-mini">Назад</a>
        <h3 class="heading_top">Настройка текущей рассылки</h3>
    </div>

    <div th:unless="${msgbuild.items.size() > 0}">
        <span>Ваш список рассылки пуст !!!</span>
    </div>

    <div class="message-item-box" th:if="${msgbuild.getItems().size() > 0}">
        <div class="message-item" th:each="mi , itrStat : ${msgbuild.getItems()}">
            <h4 class="heading-mini">
                <span th:text="'#' + (${itrStat.index+1})">#1</span>
                <span th:text="${mi.getMailing().getCompany().getShortName()}">Name of the Company</span>
            </h4>
            <ul class=contact__info>
                <li class="contact__email">
                    <span class="field_header">TO:</span>
                    <span class="text text_email" th:each="c : ${mi.mailing.contactTo}">
                            <span th:text="${c.email}">a@dddd.com</span>
                            <span>(</span>
                            <span th:text=${c.lastName}>Ivanov</span>
                            <span>);</span>
                        </span>
                </li>
                <li class="contact__email">
                    <span class="field_header">COPY:</span>
                    <span class="text text_email" th:each="c : ${mi.mailing.contactCopy}">
                            <span th:text="${c.email}">a@dddd.com</span>
                            <span>(</span>
                            <span th:text=${c.lastName}>Ivanov</span>
                            <span>);</span>
                        </span>
                </li>
                <li class="contact__email">
                    <span class="field_header">BCC:</span>
                    <span class="text text_email" th:each="c : ${mi.mailing.contactBcc}">
                            <span th:text="${c.email}">a@dddd.com</span>
                            <span>(</span>
                            <span th:text=${c.lastName}>Ivanov</span>
                            <span>);</span>
                        </span>
                </li>
            </ul>
            <p class="text text_subject" th:text="${mi.subject}"> Subject</p>

            <p class="text" th:text="${mi.body}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae deleniti
                laudantium
                repellat, nesciunt.</p>

            <p class="message__link" href="#">Приложения</p>
            <ul class="contact__info">
                <li class="text" th:each="attachment : ${mi.attachmentList}">
                    <a class="message__link" href="#" th:text="${attachment.path}">Приложения</a>
                </li>
            </ul>
            <br>

            <div class="message-item-card__button-group">
                <a class="mailing-table__link" th:href="@{/msgbuild/edit/{mailing_id}(mailing_id = ${mi.mailing.id})}">
                    <!-- описание иконки кнопки-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-arrow-down-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.096 3.146a.5.5 0 1 1 .707.708L6.707 9.95h2.768a.5.5 0 1 1 0 1H5.5a.5.5 0 0 1-.5-.5V6.475a.5.5 0 1 1 1 0v2.768l4.096-4.097z" />
                    </svg>
                    Изменить
                </a>

                <a class="mailing-table__link" th:href="@{/msgbuild/remove/{mailing_id}(mailing_id = ${mi.mailing.id})}">
                    <!-- описание иконки кнопки-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    Удалить
                </a>
            </div>
        </div>

    </div>

    <div class="container" th:if="${msgbuild.getItems().size() > 0}">
        <div class="footer__panel">
            <h3 class="heading_footer">Инструкция</h3>
            <p class="text footer_text">Для подготовки сообщений к отправке нажмите кнопку или вернитесь назад
            </p>
        </div>

        <div class="footer__panel" sec:authorize="isAnonymous()">
            <h3 class="heading_footer text_warning">Предупреждение</h3>
            <p class="text footer_text">Для отправки сообщений Вам необходимо зайти в свою учетную запись
            </p>
        </div>

        <!-- кнопки для отправки рассылки на подготовку сообщения-->

        <div class="footer__panel">
            <a sec:authorize="isAuthenticated()" class="management__button" type="button"
               th:href="@{/mail/message/prepare}" th:if="${msgbuild.items.size() > 0}">Подготовить сообщения</a>
        </div>

<!--        <div class="footer__panel">-->
<!--            <a id="btn-authcheck"  sec:authorize="isAnonymous()" class="management__button" type="submit" data-toggle="modal"-->
<!--               data-target="#authWarningModal">Подготовить сообщения</a>-->
<!--        </div>-->
    </div>

<!--    <div id="authWarningModal"-->
<!--         aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <span>Для отправки сообщений Вам необходимо зайти в свою учетную запись</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

</body>
</html>