<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Настройка рассылки</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

</head>
<body>

<div th:replace="~{navigation :: navi(MsgBuild)}"/>

<div class="container">
    <br>
    <h1>Настройка текущей рассылки</h1>

    <div th:unless="${msgbuild.items.size() > 0}" >
        <span>Ваш список рассылки пуст</span>
    </div>

    <div th:if="${msgbuild.getItems().size() > 0}" >


        <a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary" th:href="@{messages/message/prepare}" th:if="${msgbuild.items.size() > 0}">Подготовить сообщение</a>
        <a sec:authorize="isAnonymous()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#authWarningModal">Подготовить сообщение</a>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>
</html>