<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body>

<div class="top" th:fragment="navi(activeTab)">
    <div class="top__navigation">
        <div><a class="nav-label" th:href="@{/}"><img class="logo" th:src="@{/images/box.svg}" alt="logo"></a></div>
        <div class="container top__box">
            <ul class="top__navigation_menu">
                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'MsgBuild' ? 'active' : ''}">
                    <a class="nav-link text top_text" th:href="@{/msgbuild}">Сообщение &ensp;</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'Mailing' ? 'active' : ''}">
                    <a class="nav-link text top_text" th:href="@{/mailing}">Список рассылки &ensp;</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'Contacts' ? 'active' : ''}">
                    <a class="nav-link text top_text" th:href="@{/contacts/?page=1}">Контакты &ensp;</a>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                    <a class="nav-link text top_text" th:href="@{/admin}">Админка &ensp;</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <form class="login" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="login-input-group">
                            <input class="input-login" type="text" placeholder="Логин" name="username"/>
                            <input class="input-login" type="text" placeholder="Пароль" name="password"/>
                            <button class="btn-login" type="submit">Войти</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <!--
     <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
         <a class="navbar-brand" th:href="@{/}">MailHelper</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav">


                 <li sec:authorize="isAuthenticated()" class="nav-item"
                     th:classappend="${activeTab == 'MsgBuild' ? 'active' : ''}">
                     <a class="nav-link" th:href="@{/msgbuild}">Рассылка<span
                             class="sr-only"></span></a>
                 </li>

                 <li sec:authorize="isAuthenticated()" class="nav-item"
                     th:classappend="${activeTab == 'Mailing' ? 'active' : ''}">
                     <a class="nav-link" th:href="@{/mailing}">Настройка адресов<span
                             class="sr-only"></span></a>
                 </li>

                 <li sec:authorize="isAuthenticated()" class="nav-item"
                     th:classappend="${activeTab == 'Contacts' ? 'active' : ''}">
                     <a class="nav-link" th:href="@{/contacts/?page=1}">Контакты<span
                             class="sr-only"></span></a>
                 </li>

                 <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                     th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                     <a class="nav-link" th:href="@{/admin}">Админка</a>
                 </li>

                 <li sec:authorize="isAuthenticated()" class="nav-item">
                     <form th:action="@{/logout}" method="POST">
                         <input type="submit" class="btn btn-danger" value="Logout"/>
                     </form>
                 </li>

                 <li sec:authorize="isAnonymous()" class="nav-item">
                     <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                         <div class="input-group mb-3">
                             <input class="form-control" type="text" placeholder="Логин" name="username"
                                    aria-describedby="inputGroup-sizing-sm"/>
                             <input class="form-control" type="text" placeholder="Пароль" name="password"
                                    aria-describedby="inputGroup-sizing-sm"/>
                             <button class="btn btn-secondary btn-sm" type="submit">Войти</button>
                         </div>
                     </form>
                 </li>
             </ul>
         </div>
     </nav>
 --->
</div>

</body>
</html>