<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</head>

<body>

<div class="fluid-container" th:fragment="navi(activeTab)">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" th:href="@{/}">MailHelper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'Mailing' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/mailing}">Рассылка<span
                            class="sr-only"></span></a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item"
                    th:classappend="${activeTab == 'Contacts' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/contacts/?page=1}">Контакты<span
                            class="sr-only"></span></a>
                </li>

                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/admin}">Админка</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Logout"/>
                    </form>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Логин" name="username"
                                   aria-describedby="inputGroup-sizing-sm"/>
                            <input class="form-control" type="text" placeholder="Пароль" name="password"
                                   aria-describedby="inputGroup-sizing-sm"/>
                            <button class="btn btn-secondary btn-sm" type="submit">Войти</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="visible-md" style="height:80px;"></div>
</div>

</body>
</html>